@model  Project.Models.CustomUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FormHome.cshtml";
}

<h2>Index</h2>
<a href="@Url.Action("UpdatePass","Trainer")">update</a>

    <a href="@Url.Action("EditTrainerAcc", "Trainer")">update</a>