@model Project.Models.Trainer
@{
    ViewBag.Title = "TrainerAdd";
    Layout = "~/Views/Shared/FormHome.cshtml";
}

<div class="container" style="margin-top:auto">
    <h1 class="display-2" align="center">New Trainer</h1>

    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "Error", new {@class="text-danger"})
    }

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.Partial("_Form")
        <div align="center"><button type="submit" class="btn btn-dark">Submit</button></div>
    }

</div>
