<div class="container">
    <div class="hello">
        <img src="https://ap.greenwich.edu.vn/FGW_logo_d.jpg" alt="">
        <br>
        <br>
        <h1>Wellcome to University of Greenwich</h1>
    </div>

</div>

