@model Project.Models.Staff
@{
    ViewBag.Title = "EditStaffAcc";
    Layout = "~/Views/Shared/FormHome.cshtml";
}

<div class="container" style="margin-top:auto">
    <h1 class="display-2" align="center">Staff Edit</h1>

    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "Error", new { @class = "text-danger" })
    }

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.Partial("_Form2")
        <div align="center"><button type="submit" class="btn btn-dark">Submit</button></div>
    }

</div>

